// Place all the styles related to the Chairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chairs {
  width: 750px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.users_mini {
  width: 800px;
  margin-bottom: 20px
}

.groups_mini {
  width: 300px;
}